<!DOCTYPE html>
<html>
    <head>
    <title>User Proofile</title>
    <style>
        /*styles*/
    
        </style>
        </head>
        <body>
            <h1>Profile</h1>
            <div class="">

        </body>




        <div class="form-group">
            <input type="email" name="email" required>
            <label>Email:</label>
          </div>
          <div class="form-group">
            <input type="password" name="password" required>
            <label>Password:</label>
          </div>
          <input type="submit" value="Sign Up">
        </form>
      </div>
    </body>